$bg-dim: #1e1e2e;
$bg-0: #313244;
$bg-red-dark: #f38ba8;
$red-accent: #eba0ac;
$fg: #cdd6f4;
$orange-accent: #fab387;
$yellow-accent: #f9e2af;
$aqua-accent: #89b4fa;
$gray-2: #9399b2;
$purple-accent: #45475a;
$gray-1: #A6B0A4;
$bg-2: #585b70;
$bg-green: #a6e3a1;
$blue-accent: #74c7ec;
$shadow: rgba(0, 0, 0, 0.753);
$main-font: "DroidSansM Nerd Font Mono";

.bar {
  background-color: transparent;
  margin-bottom: 1rem;
}

.bar-content {
  background-color: $bg-dim;
  margin-bottom: 0.5rem;
//  box-shadow: 0 0 .3rem .1rem black;
}

.launcher-btn {
  background-color: $aqua-accent;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  margin-left: 0.4rem;
  border-radius: 7px;
}

.dt-container {
  margin-left: 1rem;
}

.text-normal {
  font-family: $main-font;
  color: $fg;
}

.text-icon {
  font-size: 17px;
  font-family: $main-font;
  color:  $fg;
  font-weight: bold;
}

.w-ctn {
  margin-left: 0;
}

.w-btn {
  margin: 0.1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: transparent;
  border-radius: 2rem;
}

.ctl-btn {
  background-color: $aqua-accent;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  // margin-left: 39.9rem;
  border-radius: 7px;
  margin-right: 0.3rem;
}

.ctpanel {
  background-color: transparent;
  margin: 2rem;
}

.ctpanel-ctn-sta {
  background-color: $bg-dim;
  margin: .2rem;
  border-radius: 1rem;
  box-shadow: -3 3 .6rem .0rem $shadow;
  margin-top: .5rem;
}

.avatar {
  margin: .2rem;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: 9;
}

.text-yellow {
  color: $yellow-accent;
}

.text-red {
  color: $red-accent;
}

.text-blue {
  color: $blue-accent;
}

.user-info {
  margin-top: .9rem;
  margin-left: .2rem;
}

.stat-btn {
  padding: 1rem;
  background-color: transparent;
  border-radius: 1.5rem;
  transition-duration: 0.3s;
}

.stat-btn:hover {
  background-color: transparent;
}

.cpu-stat:hover {
  border: 1px solid $red-accent;
}

.batt-st:hover {
  border: 1px solid $aqua-accent;
}

.ram-stat:hover {
  border: 1px solid $yellow-accent;
}

.int-stat {
  margin-left: .55rem;
  padding: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.int-stat:hover {
  border: 1px solid $orange-accent;
}

.ctls {
  border: 1px solid $blue-accent;
  border-radius: 15px;
  background-color: $bg-0;
  margin-top: 2rem;
}

.wifi-b-ctn {
  margin-left: 1rem;
  margin-top: 1rem;
  // background-color: red;
}

.wifi-li-btn {
  background-color: $aqua-accent;
  border-radius: 0.8rem;
}

.vol-scale {
  background-color: $blue-accent;
  margin-top: .1rem;
  transition-duration: .1s;
  margin-left: .8rem;
  min-height: 1rem;
  border-radius: 1rem;
}

.vol-scale * {
  background: $blue-accent;
}

.bri-scale {
  margin-top: .5rem;
  background-color: $yellow-accent;
  transition-duration: .1s;
  margin-left: .8rem;
  min-height: 1rem;
  border-radius: 1rem;
}

.bri-scale * {
  background: $yellow-accent;
}

.powermenu {
  margin-top: 5rem;
}

.powmenu-btn {
  border-radius: 1.5rem;
}

.pow-lock-btn {
  background-color: $aqua-accent;
}

.pow-sleep-btn {
  background-color: $yellow-accent;
}

.pow-reboot-btn {
  background-color: $orange-accent;
}

.pow-off-btn {
  background-color: $red-accent;
}

.notimu {
  background-color: transparent;
}

.notimu-ctn {
  background-color: $bg-dim;
  border-radius: 1rem;
  box-shadow: 3px 3px .7rem $shadow;
  margin: 2rem;
}

.mu-ctl {
  background-color: $bg-0;
  margin-top: 3rem;
  border-radius: 1rem;
}

.music-name {
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: "Lato";
  font-weight: bold;
  font-size: 18;
  color: $fg;
}

.artist-name {
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-family: $main-font;
  font-weight: bold;
  color: $fg;
}

.music-ctl-bx {
  margin-right: 1rem;
}

.edi-inp {
  font-family: $main-font;
  font-size: 12;
  font-weight: bold;
}

.not-sh {
  background-color: $bg-dim;
}

.notification {
  background-color: $bg-0;
  border-radius: 1rem;
  margin: 0.5rem;
}

.notif-close-btn {
  margin-right: 0.3rem;
}

.notif-title {
  margin-left: .1rem;
}
