@import "./workspaces.scss";

$bg-dim: #1e1e2e;
$bg-0: #313244;
$bg-red-dark: #f38ba8;
$red-accent: #eba0ac;
$fg: #cdd6f4;
$orange-accent: #fab387;
$yellow-accent: #f9e2af;
$aqua-accent: #89b4fa;
$gray-2: #9399b2;
$purple-accent: #45475a;
$gray-1: #A6B0A4;
$bg-2: #585b70;
$bg-green: #a6e3a1;
$blue-accent: #74c7ec;
$shadow: rgba(0, 0, 0, 0.30);


.bar {
  background-color: transparent;
}

.bar-contents {
  background-color: $bg-dim;
  box-shadow: 0 0 .3rem .2rem $shadow;
  margin-bottom: 1rem;
  margin-top: .7rem;
  border-radius: .7rem;
}

.launcher-btn {
  background-color: $aqua-accent;
  margin-left: .3rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.launcher-icon {
  color: $bg-dim;
  font-size: 17;
}


.ctpanel-launcher-btn {
  margin-left: .8rem;
  margin-bottom: .30rem;
  margin-top: .30rem;
  background-color: $aqua-accent;
}

.ctpanel-icon {
  color: $bg-dim;
  font-size: 15;
}
