$bg-dim: #1e1e2e;
$bg-0: #313244;
$bg-red-dark: #f38ba8;
$red-accent: #eba0ac;
$fg: #cdd6f4;
$orange-accent: #fab387;
$yellow-accent: #f9e2af;
$aqua-accent: #89b4fa;
$gray-2: #9399b2;
$purple-accent: #45475a;
$gray-1: #A6B0A4;
$bg-2: #585b70;
$bg-green: #a6e3a1;
$blue-accent: #74c7ec;
$shadow: rgba(0, 0, 0, 0.60);

.powerm {
  background: transparent;
  box {
    margin: 1.9rem;
    box-shadow: 0 0 .9rem .6rem $shadow;
    border-radius: 1.5rem;
    background-color: transparent;

    button {
      border-radius: 1.5rem;
      font-size: 20;
      color: $bg-dim;
    }
    
    .lock-btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: $bg-green;
    }

    .suspend-btn {
      border-radius: 0;
      background-color: $yellow-accent;
    }

    .reboot-btn {
      border-radius: 0;
      background-color: $orange-accent;
    }

    .sd-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $bg-red-dark;
    }
  }
}
